body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 width: 80%;
 margin: auto;
}
h1{ 
    background-color: #acafd4;
    color: #061761;
    text-align:center;
    font-size:30px ;
    border-bottom: 3px solid;
    padding: 10px;
   
}
h2{
    background-color: #acafd4;
    color: #061761;
    text-align:center;
    font-size:25px ;
    border-bottom: 3px solid;
    padding: 10px;

}
  
.contatos{ 
    text-align: center;
    list-style-type: none;

    
}
.footer{
    background-color: #3939a0;
    text-align: center;
}
img{
    border-radius: 10px;
}